{
    "editor.formatOnSave": true,
    "editor.detectIndentation": false,

    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "useTabs": false,
    "bracketSpacing": true,
    "semi": true
}
